<tr>
  <td>
    <input
      type="number"
      value="<%=material.stuff_id%>"
      name="recipe[recipe_materials][][stuff_id]"
    >
  </td>
  <td>
    <input
      type="number"
      value="<%=material.quantity%>"
      name="recipe[recipe_materials][][quantity]"
    >
  </td>
  <td>
    <input
      type="text"
      value="<%=material.unit%>"
      name="recipe[recipe_materials][][unit]"
    >
  </td>
  <td><button class="remove-table-item">Delete</button></td>
</tr>

