<tr>
  <td>
    <input
      type="number"
      value="<%=tool.stuff_id%>"
      name="recipe[recipe_tools][][stuff_id]"
    >
  </td>
  <td>
    <input
      type="number"
      value="<%=tool.quantity%>"
      name="recipe[recipe_tools][][quantity]"
    >
  </td>
  <td><button class="remove-table-item">Delete</button></td>
</tr>

